
.container{
    width: 80%;
    height: 30em;
    margin: auto;
    box-sizing: border-box;
}
.shape-ara{
    width: 80%;
    height: 100%;
    background-color: wheat;
    float: left;
}
#shape{
    margin: 150px auto;
    background-color: tomato;  
    width: 100px;
    height: 100px;
}

.option{
    width: 20%;
    height: 100%;
    background-color: whitesmoke;
    float: left;
}
.option div{
    border-bottom: 1px solid tomato;
}
.option button{
    display: block;
    width: 100px;
    height: 50px;
}
#title-color{
    text-align: center;
    display: block;
    margin: 0 auto;
}
